@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#app {
  /* Disable text selection, or your app will feel like a web page */
  -webkit-user-select: none;
  -webkit-app-region: drag;

  /* Cover the whole window */
  height: 100%;

  /* Make sure this matches the native window background color that you pass to
   * electron.BrowserWindow({...}), otherwise your app startup will look janky. */
  background: #6290c3;

  /* Smoother startup */
  animation: fadein 0.5s;
}

body {
  position: relative;
  color: white;
  height: 100vh;
  background-color: #6290c3;
  font-family: Arial, Helvetica, Helvetica Neue, serif;
  overflow-y: hidden;
  margin-left: 0px;
  margin-right: 0px;
}
h2 {
  margin: 0;
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: -0.025em;
  color: #fff;
}
p {
  font-size: 24px;
}
li {
  list-style: none;
}
a {
  color: white;
  opacity: 0.75;
  text-decoration: none;
}
a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}
.nav {
  background-color: black;
  width: 250px;
}
.mainContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.table {
  margin-top: -10px;
}
.row {
  background-color: #ecf2f8;
}
.uploadDownloadBtn {
  background-color: #5dc0de;
}

.oauthBtn {
  display: flex;
  vertical-align: middle;
  justify-content: center;
}

body {
  height:100vh
}

#root {
  height:100vh
}
